/* Swiper-specific styles */

/* Swiper pagination styles */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgb(var(--dark-color));
  opacity: 0.5;
  transition: opacity 0.3s ease; /* Add smooth transition for opacity change */
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Remove navigation arrow styles */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Smooth transition styles */
.swiper-wrapper {
  transition-timing-function: ease-out;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
  transition: transform 0.3s ease;
}

/* Styles for mobile Swiper */
@media (max-width: 767px) {
  .ftb-mobile-view .swiper-slide {
    width: 80%; /* Adjust this value to control how much of the next slide is visible */
    transition: opacity 0.3s ease;
    opacity: 0.5; /* Make non-active slides semi-transparent */
  }

  .ftb-mobile-view .swiper-slide-active {
    opacity: 1; /* Make the active slide fully opaque */
  }
}
