/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* Base styles */
body {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  color: rgb(var(--grey-color));
}

img {
  max-width: 100%;
}

a {
  color: rgb(var(--primary-color));
  text-decoration: none;
}

a:hover {
  color: rgb(var(--dark-color));
  text-decoration: none;
}

/* Utility classes for text colors */
.text-primary {
  color: rgb(var(--primary-color)) !important;
}

.text-dark {
  color: rgb(var(--dark-color)) !important;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: transparent;
  transition: 0.3s background;
}

/* Navbar Styling */
.main-header .navbar {
  padding: var(--form-padding-sm) 0;
}

.main-header .navbar-nav > li {
  padding: 0 var(--form-padding-xs);
}

.main-header .navbar-nav > li > .nav-link {
  padding: 0 var(--mid-padding-thickness);
  line-height: var(--mid-height-sm);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: rgb(var(--dark-color));
  letter-spacing: var(--letter-spacing-md);
  position: relative;
}

/* Navbar link underline animation */
.main-header .navbar-nav > li > .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  height: var(--mid-border-width);
  background: rgb(var(--primary-color));
  transition: var(--trn-ease-all);
}

.main-header .navbar-nav > li > .nav-link:hover, .main-header .navbar-nav > li > .nav-link.active {
  color: rgb(var(--primary-color));
}

.main-header .navbar-nav > li > .nav-link:hover:after, .main-header .navbar-nav > li > .nav-link.active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* Navbar Toggle Styling */
@media (max-width: 991px) {
  .main-header .navbar-collapse {
    border-bottom: var(--mid-border-width) solid rgb(var(--dark-color));
    border-top: var(--mid-border-width) solid rgb(var(--dark-color));
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(var(--bck-dark-color), 0.9);
  }

  .main-header .navbar-nav > li + li {
    border-top: var(--tiny-border-width) solid rgba(var(--grey-color), 0.1);
  }

  .main-header .navbar-nav > li > .nav-link {
    line-height: var(--mid-height-md);
  }

  .main-header .navbar-nav > li > .nav-link::after {
    display: none;
  }

  /* Hamburger menu styling */
  .main-header .navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    padding: var(--tiny-padding-thickness) var(--padding-thickness);
    outline: none;
    box-shadow: none;
  }

  .main-header .navbar-toggler span {
    width: var(--huge-border-width);
    height: var(--mid-border-width);
    background: rgb(var(--dark-color));
    margin: var(--tiny-margin-thickness) 0;
    transition: var(--trn-ease-all);
  }

  /* Hamburger menu animation */
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .main-header .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }

  .main-header .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/* Header Color for fixed position */
.fixed-header .main-header {
  background: rgba(var(--bck-dark-color), 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.125rem 0.25rem rgba(var(--dark-color), 0.07);
}

/* Button Styling */
.colored-btn {
  /* padding: 8px 20px;
  border: 2px solid rgb(var(--primary-color)); */
  padding: var(--form-padding-xs) var(--form-padding-xl);
  border: var(--tiny-border-width) solid rgba(var(--dark-color), 0.5);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-sm);
  text-transform: uppercase;
  transition: var(--trn-ease-all);
  display: inline-block;
  background: rgb(var(--primary-color));
  color: rgb(var(--white-color));
  box-shadow: var(--box-shadow-offset) var(--box-shadow-offset) 0 -1px rgb(var(--dark-color));
}

.colored-btn:hover {
  color: rgb(var(--primary-color));
  background: rgb(var(--dark-color));
  border-color: rgb(var(--dark-color));
  box-shadow: none;
}

main {
  position: relative;
  z-index: 1;
}

/* Section: Home */
.home-section {
  position: relative;
  overflow: hidden;
  padding-top: var(--huge-padding-big);
  padding-bottom: var(--section-padding-xl);
}

@media (max-width: 767px) {
  .home-section {
    padding-top: var(--huge-padding-mid);
    padding-bottom: var(--section-padding-xs);
  }
}

.home-section .container {
  position: relative;
  z-index: 1;
}

/* Home Intro: Greeting */
.home-section .home-intro h6 {
  font-weight: 600;
  color: rgb(var(--dark-color));
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  margin: 0 0 var(--box-margin-lg);
}

@media (max-width: 767px) {
  .home-section .home-intro h6 {
    margin: 0 0 var(--box-margin-md);
  }
}

/* Home Intro: Title */
.home-section .home-intro h1 {
  font-size: var(--very-huge-font-size);
  font-weight: 600;
  color: rgb(var(--dark-color));
  margin: 0 0 var(--box-margin-lg);
  line-height: var(--line-height-xs);
  /* Fix typed text from dropping to the second line */
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .home-section .home-intro h1 {
    font-size: var(--huge-font-size);
  }
}

@media (max-width: 767px) {
  .home-section .home-intro h1 {
    margin: 0 0 var(--box-margin-md);
    font-size: var(--font-size-xl);
  }
}

/* Styling for typed text and underline */
.home-section .home-intro h1 #type-it {
  position: relative;
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.home-section .home-intro h1 #type-it::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2em; /* Adjust this value to increase/decrease space */
  width: 100%;
  height: var(--border-width);
  background-color: rgb(var(--secondary-color));
}

/* Styling for Typed.js cursor */
.typed-cursor {
  /* Adjust cursor position */
  position: relative;
  bottom: calc(var(--big-border-width) * -1);

  /* Adjust color and size */
  font-size: var(--colossal-font-size);
  line-height: var(--line-height-xs);
  color: rgb(var(--primary-color));
  opacity: 1;
  animation: blink 0.7s infinite;

  /* Control cursor thickness */
  display: inline-block;
  width: var(--mid-border-width); /* Adjust this value to control thickness */
  margin-left: var(--mid-border-width); /* Adds a small gap between the text and cursor */
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Adjust cursor size and thickness for different screen sizes */
@media (max-width: 1199px) {
  .typed-cursor {
    font-size: var(--immense-font-size);
    width: var(--mid-border-width); /* You can adjust this if needed */
  }
}

@media (max-width: 767px) {
  .typed-cursor {
    font-size: var(--very-huge-font-size);
    width: var(--tiny-border-width); /* Thinner on mobile if desired */
  }
}

/* Home Intro: Paragraph */
.home-section .home-intro p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .home-section .home-intro p {
    font-size: var(--font-size-sm);
  }
}

/* Personal Photo */
.home-image img {
  height: var(--img-dim-lg);
  width: var(--img-dim-lg);
  object-fit: cover;
  transition: var(--trn-ease-all);
  border: var(--border-width) solid rgb(var(--dark-color));
  box-shadow: var(--box-shadow-offset) var(--box-shadow-offset) 0 -1px rgb(var(--dark-color));
  position: relative;
  z-index: -2;
}

@media (max-width: 1199px) {
  .home-image img {
    height: var(--img-dim-md);
    width: var(--img-dim-md);
  }
}

@media (max-width: 767px) {
  .home-image img {
    height: var(--imd-dim-sm);
    width: var(--imd-dim-sm);
  }
}

/* Sections */
.section {
  padding: var(--section-padding-xl) 0;
  position: relative;
}

@media (max-width: 991px) {
  .section {
    padding: var(--section-padding-md) 0;
  }
}

@media (max-width: 767px) {
  .section {
    padding: var(--section-padding-xs) 0;
  }
}

/* Sections with background */
.section.with-background {
  position: relative;
  width: 100%;
  min-height: var(--huge-height); /* Changed from fixed height to min-height */
  overflow: hidden;
}

.section.with-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/orange-and-yellow-sky-during-sunset.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 1; /* Added z-index */
}

/* New rule to ensure all direct children of #services are above the background */
.section.with-background > * {
  position: relative;
  z-index: 2;
}

.section-heading {
  padding-bottom: var(--section-padding-xs);
  text-align: center;
  opacity: 1;
  color: rgb(var(--dark-color)); /* Ensure text color contrasts with the background */
}

@media (max-width: 991px) {
  .section-heading {
    padding-bottom: var(--box-padding-lg);
  }
}

@media (max-width: 767px) {
  .section-heading {
    padding-bottom: var(--box-padding-md);
  }
}

.section-heading h3 {
  font-size: var(--huge-font-size);
  margin: 0;
  color: rgb(var(--dark-color));
  font-weight: 600;
  letter-spacing: var(--letter-spacing-lg);
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .section-heading h3 {
    font-size: var(--big-font-size);
  }
}

@media (max-width: 767px) {
  .section-heading h3 {
    font-size: var(--font-size-xl);
  }
}

/* About */
.about-text p {
  font-size: var(--font-size-sm);
}

.stats-container {
  margin-top: var(--box-margin-sm); /* Adjust as needed */
}

.stats-item {
  /* margin-bottom: var(--box-margin-md); */
  white-space: nowrap;
}

/* Background Colors */
.bg-dark-grey {
  background: rgb(var(--dark-color));
}

.bg-beige {
  background-color: rgb(var(--bck-light-color));
}

/* Dashboard Styling */
.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Default 16:9 Aspect Ratio */
  height: var(--iframe-height, 100%); /* Allows customization */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  transform-origin: top left;
}